@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Payment:</h1>
    
    
    <button><a href="https://book.stripe.com/test_6oE8xV9479pp7ao144">Preceed to Payment p1</a></button>
    <button><a href="https://buy.stripe.com/test_9AQg0n2FJ3117ao6or">Preceed to Payment p2</a></button>
    <button><a href="https://buy.stripe.com/test_5kA5lJ6VZ0ST7ao8wA">Preceed to Payment p3</a></button>

</div>
